body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    width: 100%;
}

h1{
     font-size: 80px;
     font-family: 'Josefin Sans', sans-serif;   
     margin-top:15%;
     background-image: linear-gradient(to right,blue,red,rgb(255, 136, 0),rgb(165, 11, 165),blue,green);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
}

.form-control:focus, .form-control:hover {
    border-color: #c4c3c300;
    box-shadow: 0px 1px 1px rgba(196, 195, 195,0.075) inset, 0px 0px 8px rgba(196, 195, 195,0.5);
}
.has-search .form-control {
    padding-left: 3.2rem;
}
.has-search .form-control-feedback {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
    color: #aaaaaa;
}

#btn{
    opacity: 0.7;    
}
#btn:hover{
    opacity: 1;
}
#dropdown{
    padding-left: 43%;
}
#dropdownMenuButton{
    background-color: rgba(204, 214, 218, 0.596);
    border: 1px solid black;
}

footer{
    background-image: repeating-linear-gradient(90deg, blue 7%,red 12%,rgb(255, 136, 0) 12%,rgb(165, 11, 165) 15%,green 20%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: auto;
}
